
@{
    ViewBag.Title = "Index";
}

<h2>LINK MICROSTRATEGY</h2>

<h5>PROD</h5>
( <a href="mstr://?url=https%3A%2F%2Fdashboard.toyota.astra.co.id%3A443%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3Da384e6f7-3e6f-4e2e-a9a8-c34190565525&authMode=1&dt=2">Link IPAD</a> )

( <a href="mstr://?url=https%3A%2F%2Fdashboard.toyota.astra.co.id%3A443%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3Db422b9ef-b584-477a-bda5-c865db45b8b0&authMode=1&dt=1">Link IPhone</a> )

( <a href="mstr://?url=https%3A%2F%2Fdashboard.toyota.astra.co.id%3A443%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxhr%26taskContentType%3Djson%26configurationID%3D31ec2e4a-ea6c-49e4-93c5-ab77b1e11844%26blockTransform%3Dflatten%26blockVersion%3D1&authMode=1&dt=3">Link Android</a> )

<h5>DEV</h5>
( <a href="mstr://?url=http%3A%2F%2F10.85.40.91%3A80%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3Da4b6eab6-a0ec-436d-8166-8dd29b42912c&authMode=1&dt=2">Link IPAD</a> )
( <a href="mstr://?url=http%3A%2F%2F10.85.40.91%3A80%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3Da81f3a84-d700-4b34-9569-f85e000f49da&authMode=1&dt=1">Link IPhone</a> )
( <a href="mstr://?url=http%3A%2F%2F10.85.40.91%3A80%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxhr%26taskContentType%3Djson%26configurationID%3D60214fd6-01bb-4a9b-8837-c23482007dee%26blockTransform%3Dflatten%26blockVersion%3D1&authMode=1&dt=3">Link Android</a> )