@model CONTRAST_WEB.Models.tb_m_photo_employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Help</li>
    </ol>
</div>
<div class="container">
    <div style="margin-top:150px;" id="products" class="row">

        <div id="products" class="_3EibU">
            <div class="item col-xs-12 col-lg-3 col-lg-offset-1">
                <div class="thumbnail border">
                    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;background-color:#FF9200;">
                            <span>
                                <button style="color:transparent;background-color:transparent;border:0px;" type="submit">
                                    <span style="margin:0px 0px;padding:0 0;cursor:pointer;color:gray;font-size:20px;color:white;" class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                            <span><div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:#AB6200;" class="_2hTgM" data-reactid="47">DOWNLOAD FAQ</div></span>
                        </div>
                    }
                </div>
            </div>

            <div class="item col-xs-12 col-lg-3">
                <div class="thumbnail border">
                    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;background-color:#FF9200;">
                            <span>
                                <button style="color:transparent;background-color:transparent;border:0px;" type="submit">
                                    <span style="margin:0px 0px;padding:0 0;cursor:pointer;color:gray;font-size:20px;color:white;" class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                            <span><div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:#AB6200;" class="_2hTgM" data-reactid="47">DOWNLOAD SOP</div></span>
                        </div>
                    }
                </div>
            </div>

            <div class="item col-xs-12 col-lg-3">
                <div class="thumbnail border">
                    @using (Html.BeginForm("DownloadUG", "Profile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;background-color:#FF9200;">
                            <span>
                                <button style="color:transparent;background-color:transparent;border:0px;" type="submit">
                                    <span style="margin:0px 0px;padding:0 0;cursor:pointer;color:gray;font-size:20px;color:white;" class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </span>
                            <span><div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:#AB6200;" class="_2hTgM" data-reactid="47">DOWNLOAD USER GUIDE</div></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>