@model CONTRAST_WEB.Models.TravelRequestHelper
@{
    ViewBag.Title = "TRAVEL REQUEST";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    List<SelectListItem> asd = new List<SelectListItem>();
    List<SelectListItem> asd2 = new List<SelectListItem>();
    asd = ViewBag.RL;
    asd2 = ViewBag.RL2;

    List<string> ModelList = new List<string>();
    ModelList = ViewBag.RL3;
}

 

<div class="container">
    <div style="margin-top:100px" class="row">
        <div class="col-md-11 col-md-offset-1">
            <h4 style="text-align:left; padding:10px; margin-bottom:0px;"></h4>
        </div>

        <div class="col-md-11 col-md-offset-1">
            <h3 style="text-align:left; margin-top:100px; padding:0 10px;">Your request has been submitted, please press back button on the left top of your screen </h3>
        </div>        

      
        
    </div>
    <hr />
    <div class="col-md-11 col-md-offset-1">
        <h4 style="text-align:left; margin-top:0px; padding:0 10px;">Thank You </h4>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
