@model IList<CONTRAST_WEB.Models.vw_request_summary>
@{
    ViewBag.Title = "TRAVEL EXECUTION LIST";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<div class="row">
    <div class="Absolute-Center">
        <div style="margin-top:15px;" class="col-xs-12">
            <div>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model[i];
                    using (Html.BeginForm("Details", "TravelExecution", Model[i]))
                    {

                        <div class="item col-xs-12">
                            <div class="thumbnail">
                                <div class="clearfix">
                                    <div class="column content">
                                        <span><input type="image" img style="margin:5px 0px; width:auto; height:50px" src="~/img/Travel-Execution-icon-b.png" /></span>
                                    </div>

                                    <div style="padding:10px 0px; width:165px;" class="column menu">
                                        <span class="templatetext">TR @Html.DisplayFor(modelItem => item.id_request)</span>
                                        <br />
                                        <span class="designationstyle">&nbsp;(to @Html.DisplayFor(modelItem => item.destination_1) )</span>

                                    </div>

                                    <span style="float:right; padding:20px 20px;" class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>        

<script>
        function goBack() {
            window.history.back();
        }
</script>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Small modal</h4>
            </div>
            <div class="modal-body">
                Hai... <strong>USER</strong>. Request Anda Sudah dikirim, tunggu informasi lebih lanjut..
            </div>
        </div>
    </div>
</div>
