@model CONTRAST_WEB.Models.tb_m_photo_employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
</div>
<div class="container">
    <div style="margin-top:100px;" id="products" class="row list-group _3EibU">
        <h2>Profile Picture</h2>
        <div style="margin:0px 100px;" class="row">
            <span>
                <img style="padding:0px 0px; margin:0px 10px; height:400px; width:400px;  border-radius: 50%;" src="@Url.Content(Model.photo_emp)" />
            </span>
            <label>
                @Html.ActionLink("Edit", "Edit", new { model = Model })
            </label>
        </div>
        <div>
            <hr />

        </div>
    </div>
</div>